@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);

:root {
	--accent-hue: 257;
	--accent-saturation: 75%;
	--accent-lightness: 73%;
	--accent-text-color: #fff;
	--accent-button-action: #fff; /*	-	*/
	--interactive-normal: #A486EE !important;
	--interactive-active: #dbccff;
	--avatar-radius: 50%; /*	-	*/
	--tooltip-color: rgb(61, 49, 92);

	--message-radius: 19px;
	--message-padding-top: 8px;
	--message-padding-side: 12px; /*	-	*/

	--media-radius: 19px; /*	-	*/

	--card-radius: 5px;
	--card-radius-big: 10px; /*	-	*/

	--popout-radius: 5px;
	--popout-radius-big: 10px;
}

.theme-dark {
	--saturation-modifier: 0.175;
	--lightness-modifier: 0.2;
}

.theme-light {
	--saturation-modifier: 0.4;
	--lightness-modifier: 2.175;
}

.selected-29KTGM .icon-2xnN2Y{
	color: var(--interactive-normal);
}

.mainContent-20q_Hp .icon-2W8DHg path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"], .mainContent-20q_Hp .icon-2W8DHg path[d="M22.545 4.91992V3.91992C22.545 2.79992 21.57 1.91992 20.52 1.91992C19.47 1.91992 18.52 2.79992 18.52 3.91992V4.91992H17.76C17.6275 4.91992 17.52 5.02737 17.52 5.15992V9.67992C17.52 9.81247 17.6275 9.91992 17.76 9.91992H23.28C23.4126 9.91992 23.52 9.81247 23.52 9.67992V5.15992C23.52 5.02737 23.4126 4.91992 23.28 4.91992H22.545ZM21.52 4.91992H19.52V3.91992C19.52 3.34849 19.9867 2.91992 20.52 2.91992C21.0533 2.91992 21.52 3.34849 21.52 3.91992V4.91992Z"], .mainContent-20q_Hp .icon-2W8DHg path[d="M22.025 2V3C22.5635 3 23 3.43652 23 3.975V7C23 7.55228 22.5523 8 22 8H18C17.4477 8 17 7.55228 17 7V4C17 3.44772 17.4477 3 18 3V2C18 0.88 18.95 0 20 0C21.05 0 22.025 0.88 22.025 2ZM19 3H21V2C21 1.42857 20.5333 1 20 1C19.4667 1 19 1.42857 19 2V3Z"]{
	fill: var(--channel-icon);
}
.modeSelected-3DmyhH .icon-2W8DHg,
.bd-name,
.modeSelected-3DmyhH:hover .icon-2W8DHg, .modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg{
	color: var(--interactive-active);
}
.modeSelected-3DmyhH .mainContent-20q_Hp .icon-2W8DHg path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"], .mainContent-20q_Hp .icon-2W8DHg path[d="M22.545 4.91992V3.91992C22.545 2.79992 21.57 1.91992 20.52 1.91992C19.47 1.91992 18.52 2.79992 18.52 3.91992V4.91992H17.76C17.6275 4.91992 17.52 5.02737 17.52 5.15992V9.67992C17.52 9.81247 17.6275 9.91992 17.76 9.91992H23.28C23.4126 9.91992 23.52 9.81247 23.52 9.67992V5.15992C23.52 5.02737 23.4126 4.91992 23.28 4.91992H22.545ZM21.52 4.91992H19.52V3.91992C19.52 3.34849 19.9867 2.91992 20.52 2.91992C21.0533 2.91992 21.52 3.34849 21.52 3.91992V4.91992Z"], .mainContent-20q_Hp .icon-2W8DHg path[d="M22.025 2V3C22.5635 3 23 3.43652 23 3.975V7C23 7.55228 22.5523 8 22 8H18C17.4477 8 17 7.55228 17 7V4C17 3.44772 17.4477 3 18 3V2C18 0.88 18.95 0 20 0C21.05 0 22.025 0.88 22.025 2ZM19 3H21V2C21 1.42857 20.5333 1 20 1C19.4667 1 19 1.42857 19 2V3Z"]{
	fill: var(--interactive-active);
}
.form-3gdLxP .typing-2J1mQU{
	width: 99%;
}

::-webkit-scrollbar-thumb{
	background-color: rgb(61, 49, 92) !important;
}
#status-picker.menu-1QACrS .item-1OdjEX:not(#status-picker-custom-status)#status-picker-online .statusItem-2hiCNB, .sidebar-nqHbhN [aria-controls].item-3XjbnG:before{
	background-color: var(--interactive-normal);
}

/* titles in settings */
.sidebar-nqHbhN .header-2Kx1US{
	color: var(--interactive-active) !important;
	text-transform: uppercase;
}
/* theme icons in theme settings */
.bd-addon-header .bd-icon{
	fill: var(--interactive-active);
}
/* about me section in user profile and popout */
.userInfoSectionHeader-2mYYun,
.base-21yXnu.muted-eZM05q,
.headerText-3g1XK9{
	color: var(--interactive-active) !important;
}
/* icons on top like pin, member list */
.clickable-ZD7xvu .icon-2xnN2Y:hover{
    color: var(--interactive-active);
}
/* icons next to pfp bottom left */
.container-YkUktl .button-12Fmur:hover{
	color: var(--interactive-active) !important;
}
/* fuck these role icons */
.roleIcon-3-WL_I{
	display: none;
}
/* call timer color */
.voiceTimer{
	color: var(--interactive-active);
}
/* changed emoji button in chatbox corner */
.sprite-2lxwfc{
  background:rgb(102, 102, 102) !important;
  border-radius: 50%;
}

/* title top left */
.wordmark-2u86JB.wordmarkWindows-2dq6rw:before {
  content: "Alainah And Rhythm's ";
  font-weight: 700;
}

/* clearvision category header animation/style */
.sidebar-1tnWFu .containerDefault-3TQ5YN .wrapper-1S43wv .name-3BUDLf, .sidebar-1tnWFu .containerDragAfter-1J_-1V .wrapper-1S43wv .name-3BUDLf, .sidebar-1tnWFu .containerDragBefore-ei4h1m .wrapper-1S43wv .name-3BUDLf, .sidebar-1tnWFu .containerUserOver-3woq86 .wrapper-1S43wv .name-3BUDLf{
	color: var(--interactive-normal);
}
.name-3BUDLf{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--interactive-normal);
    font-weight: 700;
    text-align: center;
    transition: all .3s ease-in-out;
    opacity: .7;
}
.container-q97qHp{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase !important;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
    -webkit-box-flex: 1;
    font-weight: 500;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.name-3BUDLf:before{
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to left, var(--interactive-normal) 50%, transparent);
    margin-right: 5px;
}
.name-3BUDLf:after{
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to right, var(--interactive-normal) 50%, transparent);
    margin-left: 5px;
}
.icon-3zI3d2{
    display: none;
}
.clickable-2AoIYN{
    cursor: pointer;
}
.name-3BUDLf:before{
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to left, var(--interactive-normal) 50%, transparent);
    margin-right: 5px;
}

.selected-2TbFuo .name-3BUDLf:before{
    display: none;
}
.selected-2TbFuo .name-3BUDLf:after{
    display: none;
}

.wrapper-1S43wv{
    padding-left: 10px;
    padding-right: 0;
    transition: all .3s ease-in-out;
}
.arrow-2HswgU{
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}
.collapsed-2KOacR .name-3BUDLf:before,.collapsed-2KOacR .name-3BUDLf:after{
    flex-grow:0;
}
.members-3WRCEx .membersGroup-2eiWxl{

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--interactive-normal);
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    transition: all .15s ease-in-out;
    opacity: .85;
}
.members-3WRCEx .membersGroup-2eiWxl:before{
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to left, var(--interactive-normal) 50%, transparent);
    margin-right: 5px;
}
.members-3WRCEx .membersGroup-2eiWxl:after{
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, var(--interactive-normal) 50%, transparent);
    margin-left: 5px;
}
/* settings header clearvision port */
.sidebar-nqHbhN .header-2Kx1US{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-2ur1Qk .header-2Kx1US{
  color: var(--interactive-active);
  font-weight: 700;
}
.sidebar-nqHbhN .header-2Kx1US:before{
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, var(--interactive-active) 50%, transparent);
  margin-right: 5px;
}
.sidebar-nqHbhN .header-2Kx1US:after{
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, var(--interactive-active) 50%, transparent);
  margin-left: 5px;
}
/* user avatar, name and tag animation bottom left */
.container-YkUktl .avatar-1EWyVD{
    width: 32px !important;
    height: 32px !important;
    transition: all .15s ease-in-out;
}

.container-YkUktl .avatar-1EWyVD:hover{
    width:42px !important;
    height:42px !important;
    opacity:1;
}
.container-YkUktl .avatar-1EWyVD:hover:after{
    font-size:15px;
    line-height:40px;
    opacity:1;
}
.nameTag-sc-gpq:hover *{
    font-size:15px;
    transition: all .15s ease-in-out;
}
.nameTag-sc-gpq *{
    transition: all .15s ease-in-out;
}
